.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.notes {
  margin-top: 2em;
  margin-left: 45%;
  text-align: left;
  flex-grow: 1;
}

.pianoConainer {
  height: 200px;
}
.noteName {
  font-size: 10px;
  text-align: center;
}
.sharps {
  color: white;
}
