.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.notes {
  flex-grow: 1;
  margin-top: 2em;
  margin-left: 45%;
  text-align: left;
}
.noteDescription {
  display: flex;
  margin-top: 1em;
  padding: 0 1em;
}
